.snippet-title{
    color: red;
}

.snippet-title {
    
}

a{
    color:red;
    text-decoration-color: red;
    text-decoration: none;
}

h1{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
}

body{
    background: lightcoral;
}

.main-content{
    margin: auto;
    width: 80%;
}

.title-bar{
    text-align: center;
}

.editing-buttons{
    text-align: center;
    margin: auto;


}